
body{
    display:flex;
}
textarea{
    min-width: 100%;
    background-color: white;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(169, 169, 169);

}
.btn-group{
 min-width: 100%;
     min-height: 100%
}
.btn{
    color: azure;
    min-width: 20%
}
.col-12{
min-width: 100%;
}
.row{
    min-width: 100%;
     min-height: 20%;
}
.container-fluid{
    min-height: 95vh;
    min-width: 95vw;
}